<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Top English — школа англійської в Харкові. Досвідчені викладачі допоможуть покращити вашу англійську ефективно та за розумною ціною.">
    <title>Top English — школа англійської в Харкові</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/headerAndFooter.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/symbols/icon.png') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}"> -->
    <script src="{{ url_for('static', filename='scripts/burger.js') }}" defer></script>
</head>
<body>
    <div id="burgerMenu">
        <div class="burgerRow firstBurgerRow">
            <a href="/" style="text-decoration: none;">
                <div id="leftBurger">
                    <img src="{{ url_for('static', filename='img/symbols/logo.png') }}" alt="Логотип TopEnglish">
                    <h1>TopEnglish</h1>
                </div>
            </a>
            <svg id="burgerButtonBurger" onclick="hideBurger()" width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="44" height="7" rx="3.5" fill="#424242"/><rect y="15" width="44" height="7" rx="3.5" fill="#424242"/><rect y="30" width="44" height="7" rx="3.5" fill="#424242"/></svg>
        </div>
        <div class="burgerRow"><a href="/programs">Програми</a></div>
        <div class="burgerRow"><a href="/prices">Ціни</a></div>
        <div class="burgerRow"><a href="/teachers">Учителі</a></div>
        <div class="burgerRow"><a href="/location" class="current">Локація</a></div>
    </div>
    <div id="overlay" onclick="hideBurger()"></div>
    <header>
        <a href="/" style="text-decoration: none;">
            <div id="leftHeader">
                <img src="{{ url_for('static', filename='img/symbols/logo.png') }}" alt="Логотип TopEnglish">
                <h1>TopEnglish</h1>
            </div>
        </a>
        <div id="middleHeader">
            <a href="/programs">Програми</a>
            <a href="/prices">Ціни</a>
            <a href="/teachers">Учителі</a>
            <a href="/location" class="current">Локація</a>
        </div>
        <svg id="burgerButton" onclick="showBurger()" width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="44" height="7" rx="3.5" fill="#424242"/><rect y="15" width="44" height="7" rx="3.5" fill="#424242"/><rect y="30" width="44" height="7" rx="3.5" fill="#424242"/></svg>
    </header>
    <main>
        <div id="floatButtonWrapper">
            <a href="tel:+380679378915" id="floatButton" title="Зателефонувати нам">
                <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.0499 20.4333L22.8166 19.95C22.3188 19.8915 21.8143 19.9466 21.3409 20.1112C20.8675 20.2757 20.4375 20.5454 20.0833 20.9L17.0166 23.9667C12.2856 21.5599 8.44005 17.7143 6.03328 12.9833L9.11661 9.9C9.83328 9.18333 10.1833 8.18333 10.0666 7.16667L9.58328 2.96667C9.48914 2.15348 9.09906 1.40337 8.48738 0.859322C7.87571 0.315272 7.08523 0.0153291 6.26661 0.0166671H3.38328C1.49995 0.0166671 -0.066721 1.58333 0.0499457 3.46667C0.933279 17.7 12.3166 29.0667 26.5333 29.95C28.4166 30.0667 29.9833 28.5 29.9833 26.6167V23.7333C29.9999 22.05 28.7333 20.6333 27.0499 20.4333Z" fill="#555555"/></svg>
            </a>
        </div>
    </main>
    <footer>
        <div id="footerButtons">
            <a href="/programs">Програми</a>
            <a href="/prices">Ціни</a>
            <a href="/teachers">Контакти</a>
            <a href="/location">Адреса</a>
        </div>
        <h1 id="credits">Developed by Yehor Kovalenko</h1>
        <h3 id="copyrights">© TopEnglish <span id="year"></span></h3>
    </footer>
</body>
</html>