<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Top English — школа англійської в Харкові. Досвідчені викладачі допоможуть покращити вашу англійську ефективно та за розумною ціною.">
    <title>Top English — школа англійської в Харкові</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/headerAndFooter.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/symbols/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/services.css') }}">
    <script src="{{ url_for('static', filename='scripts/burger.js') }}" defer></script>
</head>
<body>
    <div id="burgerMenu">
        <div class="burgerRow firstBurgerRow">
            <a href="/">
                <div id="leftBurger">
                    <img src="{{ url_for('static', filename='img/symbols/logo.png') }}" alt="Логотип TopEnglish">
                    <h1>TopEnglish</h1>
                </div>
            </a>
            <svg id="burgerButtonBurger" onclick="hideBurger()" width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="44" height="7" rx="3.5" fill="#424242"/><rect y="15" width="44" height="7" rx="3.5" fill="#424242"/><rect y="30" width="44" height="7" rx="3.5" fill="#424242"/></svg>
        </div>
        <div class="burgerRow notFirstBurgerRow"><a href="/services#prices">Ціни</a></div>
        <div class="burgerRow notFirstBurgerRow"><a href="/services#programs">Програми</a></div>
        <div class="burgerRow notFirstBurgerRow"><a href="/teachers">Учителі</a></div>
        <div class="burgerRow notFirstBurgerRow"><a href="/location">Локація</a></div>
    </div>
    <div id="overlay" onclick="hideBurger()"></div>
    <header>
        <a href="/" style="text-decoration: none;">
            <div id="leftHeader">
                <img src="{{ url_for('static', filename='img/symbols/logo.png') }}" alt="Логотип TopEnglish">
                <h1>TopEnglish</h1>
            </div>
        </a>
        <div id="middleHeader">
            <a href="/services#prices">Ціни</a>
            <a href="/services#programs">Програми</a>
            <a href="/teachers">Учителі</a>
            <a href="/location">Локація</a>
        </div>
        <svg id="burgerButton" onclick="showBurger()" width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="44" height="7" rx="3.5" fill="#424242"/><rect y="15" width="44" height="7" rx="3.5" fill="#424242"/><rect y="30" width="44" height="7" rx="3.5" fill="#424242"/></svg>
    </header>
    <main>
        <div id="floatButtonWrapper">
            <a href="tel:+380679378915" id="floatButton" title="Зателефонувати нам">
                <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.0499 20.4333L22.8166 19.95C22.3188 19.8915 21.8143 19.9466 21.3409 20.1112C20.8675 20.2757 20.4375 20.5454 20.0833 20.9L17.0166 23.9667C12.2856 21.5599 8.44005 17.7143 6.03328 12.9833L9.11661 9.9C9.83328 9.18333 10.1833 8.18333 10.0666 7.16667L9.58328 2.96667C9.48914 2.15348 9.09906 1.40337 8.48738 0.859322C7.87571 0.315272 7.08523 0.0153291 6.26661 0.0166671H3.38328C1.49995 0.0166671 -0.066721 1.58333 0.0499457 3.46667C0.933279 17.7 12.3166 29.0667 26.5333 29.95C28.4166 30.0667 29.9833 28.5 29.9833 26.6167V23.7333C29.9999 22.05 28.7333 20.6333 27.0499 20.4333Z" fill="#555555"/></svg>
            </a>
        </div>
        <div id="prices">
            <h1 class="blockHeading">Ціни на наші заняття</h1>
            <div id="pbMain">
                <div class="left">
                    <table>
                        <tr>
                            <th>Формат занять</th>
                            <th>Ціна за 1 урок</th>
                            <th>Ціна за 1 місяць</th>
                        </tr>
                        <tr>
                            <td>👤 Особистий</td>
                            <td>600 грн/год</td>
                            <td>2400 грн</td>
                        </tr>
                        <tr>
                            <td>👥 Парний</td>
                            <td>400  грн/год</td>
                            <td>1600 грн</td>
                        </tr>
                        <tr>
                            <td>🫂 Груповий</td>
                            <td>300  грн/год</td>
                            <td>1200 грн</td>
                        </tr>
                    </table>
                    <div class="tip">
                        <h1 class="subheading">Який формат обрати?</h1>
                        <ul>
                            <li>👤 Особистий — уся увага одному учню</li>
                            <li>👥 Парний — навчання з другом</li>
                            <li>🫂 Груповий — комунікація та практика мовлення</li>
                        </ul>
                    </div>
                    <a href="/teachers" class="button">Обрати вчителя</a>
                </div>
                <div class="right">
                    <img src="{{ url_for('static', filename='img/misc/britishFlag.png') }}" alt="Прапор Великої Британії">
                </div>
            </div>
        </div>
        <div id="programs">
            <h1 class="blockHeading">Програми навчання</h1>
            <div id="cardWrapper">
                <div class="card" id="card1">
                    <div class="cardHeading">
                        <h1 class="cardNumber">1</h1>
                        <h1 class="cardHeadingText">Загальна англійська</h1>
                    </div>
                    <p class="cardDescription">Комплексна програма для розвитку всіх навичок: говоріння, письмо, читання, слухання та граматика. Підходить учням будь-якого рівня — від A1 до C1. Програма допомагає впевнено спілкуватися у повсякденних ситуаціях і будувати міцну мовну базу.</p>
                </div>
                <div class="card" id="card2">
                    <div class="cardHeading">
                        <h1 class="cardNumber">2</h1>
                        <h1 class="cardHeadingText">Підготовка до екзамену</h1>
                    </div>
                    <p class="cardDescription">Підготовка до будь-яких екзаменів: IELTS, TOEFL, PET, FCE, НМТ тощо. Працюємо над усіма частинами тесту та даємо індивідуальні рекомендації за вашими слабкими місцями.</p>
                </div>
                <div class="card" id="card3">
                    <div class="cardHeading">
                        <h1 class="cardNumber">3</h1>
                        <h1 class="cardHeadingText">Англійська для дітей</h1>
                    </div>
                    <p class="cardDescription">Ігровий формат навчання для дітей 6–11 років. Уроки проходять легко та весело: інтерактиви, картки, пісні, мультфільми та живе спілкування. Дитина запам’ятовує слова природно і вчиться будувати перші фрази.</p>
                </div>
                <div class="card" id="card4">
                    <div class="cardHeading">
                        <h1 class="cardNumber">4</h1>
                        <h1 class="cardHeadingText">Англійська для підлітків</h1>
                    </div>
                    <p class="cardDescription">Програма для підлітків 12–17 років, спрямована на розвиток реальної комунікації та сучасної лексики. Використовуємо актуальні теми, відео та інтерактиви, щоб підліткам було цікаво й корисно.</p>
                </div>
                <div class="card" id="card5">
                    <div class="cardHeading">
                        <h1 class="cardNumber">5</h1>
                        <h1 class="cardHeadingText">Бізнес-англійська</h1>
                    </div>
                    <p class="cardDescription">Курс для тих, хто працює в міжнародному середовищі або планує вийти на ринок іноземних компаній. Навчаємо термінології, імейлів, презентацій, перемовин, дзвінків та ділової комунікації. Практика реальних робочих ситуацій.</p>
                </div>
                <div class="card" id="card6">
                    <div class="cardHeading">
                        <h1 class="cardNumber">6</h1>
                        <h1 class="cardHeadingText">Англійська з нуля</h1>
                    </div>
                    <p class="cardDescription">Курс для повних початківців. Повільний темп, прості матеріали, базова лексика та фрази, багато повторень і підтримка викладача. Ідеально, якщо студент ніколи не вчив англійську.</p>
                </div>
            </div>
            <a href="/location" class="button">Подивитися локацію</a>
        </div>
    </main>
    <footer>
        <div id="footerButtons">
            <a href="/services#prices">Ціни</a>
            <a href="/services#programs">Програми</a>
            <a href="/teachers">Контакти</a>
            <a href="/location">Адреса</a>
        </div>
        <h1 id="credits">Developed by Yehor Kovalenko</h1>
        <h3 id="copyrights">© TopEnglish <span id="year"></span></h3>
    </footer>
</body>
</html>