@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

:root{
    --gray1: #D5DBDE;
    --gray2: #979797;
    --gray3: #424242;
    --blue1: #6FAFFF;
    --blue2: #2563EB;
    --blue3: #143F7E;
    --red1: #FF6565;
    --red2: #DC2626;
    --red3: #AF1A1B;
    --headerHeight: 80px;
    --headerMobileHeight: 60px;
    --blockHeight: max(700px, calc(100dvh - var(--headerHeight)));
}