@import "general.css";

.block{
    width: 100%;
    font-size: min(2.25vw, 50px);
    padding-bottom: max(15px, 1.25vw);
    .blockHeading{
        width: 90%;
        text-align: center;
        font-size: 2em;
        font-family: 'Source Serif Pro', serif;
        font-weight: 600;
    }
}
.fullScreen{
    height: var(--blockHeight);
}
#block1{
    display: flex;
    #b1Left{
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: max(15px, 2vh);
        position: relative;
        .b1DecorativeCurve{
            position: absolute;
            width: 30%;
            height: auto;
        }
        #b1DecorativeCurve1{
            top: 5%;
            left: 5%;
        }
        #b1DecorativeCurve2{
            bottom: 5%;
            right: 5%;
        }
        #sloganHeading{
            position: relative;
            width: 75%;
            h1{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                font-size: 1.8em;
                font-family: 'Kurale', serif;
                color: white;
                font-weight: lighter;
                text-box: trim-start cap text;
            }
            img{
                width: 100%;
            }
        }
        p{
            text-align: center;
            width: 75%;
            font-size: 1em;
            font-family: 'Kurale', serif;
            font-weight: lighter;
            color: black;
        }
        #b1Buttons{
            width: 75%;
            display: flex;
            justify-content: space-evenly;
            a{
                text-decoration: none;
                width: 42.5%;
                background-color: var(--red2);
                border-radius: 1.25vw;
                border: max(1px, 0.15vw) solid black;
                padding: 0.5vw 0;
                transition: transform 0.2s ease;
                color: white;
                font-family: 'Kurale', serif;
                font-weight: lighter;
                font-size: 1em;
                text-align: center;
            }
        }
    }
    #b1Right{
        height: 100%;
        display: flex;
        gap: 20px;
        padding: 0 20px;
        .b1Col{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            .b1Card{
                height: min(20vw, 40%);
                position: relative;
                img{
                    height: 100%;
                    border: 6px solid var(--gray3);
                }
                .b1Circle{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 9%;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
                #b1Circle1{
                    background-color: var(--red3);
                }
                #b1Circle2{
                    background-color: var(--blue2);
                }
                #b1Circle3{
                    background-color: var(--blue3);
                }
            }
        }
    }
}
#block2{
    display: flex;
    flex-direction: column;
    align-items: center;
    .blockHeading{
        padding-bottom: max(12.5px, 2.5vh);
    }
    #b2CardContainer{
        width: 96vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        .b2Card{
            width: 75%;
            border-radius: 2.5vw;
            box-shadow: 0 0 1vw rgba(0, 0, 0, 0.75);
            padding: 1.5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.75vw;
            transition: transform 0.2s ease;
            svg{
                width: 50%;
            }
            h1{
                text-align: center;
                font-size: 0.9em;
                font-family: 'Source Serif Pro', serif;
                font-weight: 600;
                padding: 0;
            }
            p{
                text-align: center;
                font-size: 0.65em;
                font-family: 'Kurale', serif;
                font-weight: lighter;
                width: 90%;
                flex-grow: 1;
            }
            a{
                text-decoration: none;
                width: 90%;
                background-color: red;
                padding: 0.5vw 0;
                border-radius: 1vw;
                border: max(1px, 0.125vw) solid black;
                cursor: pointer;
                text-align: center;
                font-size: 0.65em;
                font-family: 'Kurale', serif;
                font-weight: lighter;
                color: white;
                transition: transform 0.2s ease;
            }
        }
    }
}
#block3{
    display: flex;
    flex-direction: column;
    align-items: center;
    .blockHeading{
        padding-top: max(12.5px, 1.5vw);
    }
    #b3CircleContainer{
        width: 100%;
        position: relative;
        height: 42vw;
        .b3CircleWrapper{
            position: absolute;
            .b3Circle{
                height: 19vw;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                border: 0.2vw solid black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                font-size: 1.75vw;
                transition: transform 0.2s ease;
                .b3Icon{
                    font-size: 2.75em;
                    user-select: none;
                    -webkit-user-select: none;
                }
                .b3Text{
                    font-size: 1em;
                    font-family: 'Source Sans Pro', serif;
                    font-weight: bolder;
                    text-align: center;
                    color: white;
                    width: 80%;
                }
            }
        }
        #b3Circle1{
            top: 1vw;
            left: 50%;
            transform: translateX(-50%);
            .b3Circle{
                background-image: linear-gradient(to bottom, var(--blue1), var(--blue2));
            }
        }
        #b3Circle2{
            top: 50%;
            left: 50%;
            transform: translate(-150%, -50%);
            .b3Circle{
                background-image: linear-gradient(to bottom, var(--red1), var(--red2));
            }
        }
        #b3Circle3{
            top: 50%;
            left: 50%;
            transform: translate(50%, -50%);
            .b3Circle{
                background-image: linear-gradient(to bottom, var(--red1), var(--red2));
            }
        }
        #b3Circle4{
            bottom: 1vw;
            left: 50%;
            transform: translateX(-50%);
            .b3Circle{
                background-image: linear-gradient(to bottom, var(--blue1), var(--blue2));
            }
        }
    }
}
#block4{
    display: flex;
    flex-direction: column;
    align-items: center;
    #b4Container{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        padding: 5vw 0;
        .b4DecorativeCurve{
            position: absolute;
            width: 20%;
        }
        #b4DecorativeCurve1{
            top: 5%;
            right: 5%;
        }
        #b4DecorativeCurve2{
            bottom: 5%;
            left: 5%;
        }
        #b4ReviewCarousel{
            width: 100%;
            height: 30vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            button{
                width: 5vw;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                cursor: pointer;
                position: relative;
                z-index: 5;
                transition: transform 0.2s ease;
                &::before{
                    color: white;
                    font-size: 4vw;
                }
            }
            #b4ScrollLeftButton{
                background-color: var(--red3);
                &::before{
                    content: '<';
                }
            }
            #b4ScrollRightButton{
                background-color: var(--blue3);
                &::before{
                    content: '>';
                }
            }
            #b4ReviewStrip{
                width: 75vw;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                .b4Gradient{
                    position: absolute;
                    height: 105%;
                    width: 25vw;
                    display: none;
                    z-index: 4;
                }
                #b4GradientLeft{
                    left: -20vw;
                    background-image: linear-gradient(to right, white 0, white 20vw, rgba(0, 0, 0, 0) 25vw);
                }
                #b4GradientRight{
                    left: calc(100% - 5vw);
                    background-image: linear-gradient(to left, white 0, white 20vw, rgba(0, 0, 0, 0) 25vw);
                }
                .b4ReviewCard{
                    position: absolute;
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5vw;
                    transform: scale(0);
                    opacity: 0;
                    z-index: 1;
                    pointer-events: none;
                    transition: transform 0.75s ease, left 0.75s ease, opacity 0.75s ease;
                    div{
                        width: 100%;
                        height: 5vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1vw;
                        img{
                            height: 95%;
                            border-radius: 50%;
                            border: 0.15vw solid black;
                        }
                        h1{
                            flex-grow: 1;
                            font-size: 0.85em;
                            font-family: 'Source Serif Pro', serif;
                            font-weight: 600;
                        }
                    }
                    p{
                        font-size: 0.6em;
                        font-family: 'Source Serif Pro', serif;
                        font-weight: 200;
                    }
                }
                .b4CurrentCard{
                    left: 50%;
                    transform: scale(1.25) translateX(-40%);
                    opacity: 1;
                    pointer-events: all;
                }
                .b4LeftCard{
                    left: 0;
                    transform: scale(1);
                    opacity: 1;
                    pointer-events: all;
                }
                .b4RightCard{
                    left: 100%;
                    transform: scale(1) translateX(-100%);
                    opacity: 1;
                    pointer-events: all;
                }
                .b4BeforeLeftCard{
                    left: 0;
                    z-index: 0;
                }
                .b4AfterRightCard{
                    left: calc(100% - 20vw);
                    z-index: 0;
                }
            }
        }
        #b4ReviewCarouselDots{
            display: flex;
            gap: 1vw;
            .b4Dot{
                width: max(1vw, 12.5px);
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background-color: var(--gray1);
                cursor: pointer;
            }
            .b4CurrentDot{
                background-color: var(--gray2);
            }
        }
    }
}
#block5{
    display: flex;
    flex-direction: column;
    align-items: center;
    .blockSubheading{
        width: 90%;
        text-align: center;
        font-size: 1.25em;
        font-family: 'Kurale', serif;
        color: var(--gray3);
        font-weight: 100;
        padding-bottom: 1vw;
    }
    #b5Main{
        display: flex;
        width: 100%;
        align-items: stretch;
        #b5Left{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            #b5CardContainer{
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;
                gap: 2vw;
                width: 85%;
                height: 85%;
                .b5Card{
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    padding: 1vw 0;
                    display: grid;
                    grid-template: 9fr 7fr 5fr / 1fr;
                    justify-items: center;
                    align-items: center;
                    border: solid max(1px, 0.3vw) var(--gray3);
                    box-sizing: border-box;
                    font-size: 1em;
                    transition: transform 0.2s ease;
                    svg{
                        width: 17.5%;
                        aspect-ratio: 1 / 1;
                        transition: transform 0.2s ease;
                    }
                    h1, h2{
                        color: black;
                        font-family: 'Source Serif Pro', serif;
                        text-align: center;
                        font-weight: lighter;
                    }
                    h1{
                        font-size: 1.25em;
                    }
                    h2{
                        font-size: 0.9em;
                    }
                }
                #b5EmailCard{
                    h2{
                        font-size: 0.8em;
                    }
                }
            }
        }
        #b5Right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            margin-right: 4vw;
            height: 100%;
            font-size: 2.25vw;
            img{
                height: 30vw;
                border-radius: 2vw;
                box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.5);
            }
            h1{
                font-size: 1.2em;
                text-align: center;
                font-family: 'Source Serif Pro', serif;
                font-weight: 100;
                span{
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-aspect-ratio: 7/5) {
    #block1{
        padding: max(10px, 2vh) 0;
        height: auto;
        #b1Left{
            height: auto;
        }
        #b1Right{
            height: auto;
            .b1Col{
                .b1Card{
                    height: 20vw;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .block{
        font-size: 4.25vw;
    }
    #block1{
        height: auto;
        #b1Left{
            gap: 1.85vw;
            .b1DecorativeCurve{
                display: none;
            }
            #sloganHeading{
                width: 85%;
            }
            p{
                width: 85%;
            }
            #b1Buttons{
                width: 85%;
                a{
                    padding: 1vw 0;
                    border-radius: 2.5vw;
                    border-width: max(1px, 0.3vw);
                    font-size: 1.2em;
                }
            }
        }
        #b1Right{
            display: none;
        }
    }
    #block2{
        padding: 0 0 max(15px, 2vh) 0;
        #b2CardContainer{
            row-gap: 25px;
            grid-template-columns: 1fr 1fr;
            .b2Card{
                border-radius: 4vw;
                gap: 2.5vw;
                box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.75);
                padding: 2.75vw;
                h1{
                    font-size: 0.8em;
                }
                p{
                    font-size: 0.55em;
                }
                a{
                    border-radius: 1.5vw;
                    font-size: 0.65em
                }
            }
            .b2Card:nth-child(3){
                grid-column: 1 / -1;
                max-width: calc(75% * 0.5);
            }
        }
    }
    #block3{
        .blockHeading{
            padding: 0 0 max(10px, 2vh) 0;
        }
        #b3CircleContainer{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            row-gap: 20px;
            height: auto;
            .b3CircleWrapper{
                position: static;
                transform: none !important;
                .b3Circle{
                    height: 40vw;
                    border-width: 0.4vw;
                    font-size: 1em;
                    .b3Icon{
                        font-size: 2.3em;
                    }
                    .b3Text{
                        font-size: 0.85em;
                    }
                }
            }
        }
    }
    #block4{
        overflow-x: hidden;
        #b4Container{
            gap: 6vw;
            .b4DecorativeCurve{
                display: none;
            }
            #b4ReviewCarousel{
                height: 65vw;
                button{
                    width: 10vw;
                    &::before{
                        font-size: 8vw;
                    }
                }
                #b4ReviewStrip{
                    width: 60vw;
                    .b4Gradient{
                        display: block;
                    }
                    .b4ReviewCard{
                        width: 50vw;
                        gap: 1.25vw;
                        transform: none;
                        opacity: 0;
                        div{
                            height: 12.5vw;
                            gap: 2vw;
                            img{
                                border-width: 1.5px;
                                border-width: calc(0.3vw * 1.25);
                            }
                            h1{
                                font-size: 1.25em;
                            }
                        }
                        p{
                            font-size: 0.8em;
                        }
                    }
                    .b4CurrentCard{
                        left: 50%;
                        transform: translateX(-50%);
                        pointer-events: all;
                        opacity: 1;
                    }
                    .b4LeftCard, .b4RightCard{
                        opacity: 1;
                    }
                    .b4LeftCard, .b4BeforeLeftCard{
                        left: 0;
                        transform: translateX(-100%);
                    }
                    .b4RightCard, .b4AfterRightCard{
                        left: 100%;
                    }
                }
            }
            #b4ReviewCarouselDots{
                gap: 2vw;
                .b4Dot{
                    width: 2.5vw;
                }
            }
        }
    }
    #block5{
        .blockSubheading{
            font-size: 1em;
        }
        #b5Main{
            flex-direction: column-reverse;
            gap: 3vw;
            align-items: center;
            #b5Left{
                width: 95%;
                #b5CardContainer{
                    gap: 3vw;
                    height: auto;
                    .b5Card{
                        border-width: max(2px, 0.5vw);
                        padding: 3vw 0;
                        height: auto;
                        gap: 2vw;
                        grid-template: auto / auto;
                        font-size: inherit;
                        svg{
                            width: 17.5%;
                        }
                        h1{
                            font-size: 1em;
                        }
                        h2{
                            font-size: 0.75em;
                        }
                    }
                    #b5EmailCard{
                        h2{
                            font-size: 0.6em;
                        }
                    }
                }
            }
            #b5Right{
                font-size: inherit;
                img{
                    height: 65vw;
                    border-radius: 4vw;
                    margin-top: 2vw;
                }
                h1{
                    font-size: 1.4em;
                }
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    #b1Buttons a:hover{
        transform: scale(1.025);
    }
    .b2Card:hover{
        transform: scale(1.025);
    }
    .b2Card a:hover{
        transform: scale(1.025);
    }
    .b3Circle:hover{
        transform: scale(1.025);
    }
    #b4ReviewCarousel button:hover{
        transform: scale(1.05);
    }
    .b5Card:hover{
        transform: scale(1.025);
    }
}