@import url("general.css");

main{
    font-size: min(2.25vw, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .blockHeading{
        width: 90%;
        text-align: center;
        font-size: 2em;
        font-family: 'Source Serif Pro', serif;
        font-weight: 600;
        margin-top: 1vw;
    }
    .cardWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        row-gap: 2vw;
        margin: 2vw 0;
        justify-items: center;
        .card{
            width: min(75%, 500px);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5vw;
            img{
                width: 100%;
                aspect-ratio: 1 / 1;
                border-radius: min(3vw, 42px);
            }
            .cardName{
                font-family: 'Source Serif Pro', serif;
                font-weight: 600;
                font-size: min(1.25em, 40px);
                text-align: center;
            }
            .cardContacts{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.75vw;
                .cardPhoneNumber{
                    font-family: 'Source Serif Pro', serif;
                    font-weight: 100;
                    font-size: min(1em, 32px);
                }
                a{
                    width: 1.75vw;
                    svg{
                        display: block;
                        width: 100%;
                    }
                }
            }
            .cardDescription{
                font-family: 'Kurale', serif;
                font-size: min(0.75em, 24px);
                text-align: center;
            }
        }
    }
}

@media (max-width: 900px){
    main{
        .blockHeading{
            font-size: 3.5em;
            margin-top: 2vw;
        }
        .cardWrapper{
            grid-template-columns: 1fr;
            row-gap: 4vw;
            margin: 4vw 0;
            .card{
                img{
                    border-radius: 6vw;
                }
                .cardName{
                    font-size: 2.5em;
                }
                .cardContacts{
                    gap: 1.5vw;
                    .cardPhoneNumber{
                        font-size: 2em;
                    }
                    a{
                        width: 3.5vw;
                    }
                }
                .cardDescription{
                    font-size: 1.5em;
                }
            }
        }
    }
}